* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

img {
    border-radius: 10px;
    border: solid #F9FAF8 1px;
    align-self: center;
}

.hero-button {
    color: #F9FAF8;
    padding: 5px;
    border: none;
    font-weight: bold;
    margin-top: 16px;
    border-radius: 5px;
    background-color: #3882F6;
    width:100px;
}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    padding: 5px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 16px;
}

.links,
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-primary {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary {
    width: 450px;
    flex-grow: 0;
}

.hero {
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.lower {
    flex-wrap: wrap;
    padding: 64px 16px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
    padding: 32px 16px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-image {
    border: #3882F6 solid 1px;
    border-radius: 16px;
    width: 130px;
    height: 130px;
}

.char {
    width: 130px;
    gap: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.quote-origin {
    margin-top: 16px;
    font-weight: 900;
    font-size: 18px;
    text-align: right;
}

.characters {
    color:#1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 64px;
}